{#
/*
 * For Characters:
 * - content.field_background,
 * - content.field_faction,
 * - content.field_appearance,
 * - content.field_rep,
 * - content.field_credits,
 */
#}
{% extends "@veil/node/node--full.html.twig" %}


{% block callout %}
<div class="col-sm-4">
  {% if content.field_morph_model|field_value %}<p><strong>Morph Model:</strong> {{ content.field_morph_model|field_value }}{% if mobility|length %} ({{ mobility.build|safe_join(', ') }}){% endif %}</p>{% endif %}
  {% if armor.energy or armor.kinetic %}
    <p><strong>Armor:</strong> {{ armor.energy ?: '—'}} / {{ armor.kinetic ?: '—'}}
      {% if armor.build %}({{ armor.build|safe_join(', ') }}){% endif %}
    </p>
  {% endif %}
  {% if content.field_rep|field_value|length %}<p><strong>Rep:</strong> {{ content.field_rep|field_value|safe_join(', ') }}</p>{% endif %}
</div>
{% endblock %}

{% block content %}
<div class="col-sm-8">
{% if stats.total %}{% include '@veil/partials/stats--breakdown.html.twig' %}{% endif %}
</div>
{% endblock %}

{% block stats %}
<section class="row">
  <div class="col-sm-12">
  {% include '@veil/partials/skills--table.html.twig' %}
  </div>
</section>
{% endblock %}

{% block properties %}
  <dl class="dl-horizontal">
    {% if content.field_augmentations|field_value|length %}<dt>Augmentations:</dt><dd>{{ content.field_augmentations|field_value|safe_join(', ') }}</dd>{% endif %}
    {% if content.field_traits|field_value|length %}
      {% if content.field_morph_traits|field_value|length %}
        {% set traits = content.field_traits|field_value|merge(content.field_morph_traits|field_value) %}
      {% else %}
        {% set traits = content.field_traits|field_value %}
      {% endif %}
      <dt>Traits:</dt><dd>{{ traits|safe_join(', ') }}</dd></dd>
    {% endif %}

    {% if content.field_sleights|field_value|length %}<dt>Psi Sleights:</dt><dd>{{ content.field_sleights|field_value|safe_join(', ') }}</dd>{% endif %}
    {% if content.field_gear|field_value|length %}<dt>Gear:</dt><dd>{{ content.field_gear|field_value|safe_join(', ') }}</dd>{% endif %}
    {% if content.field_blueprints|length %}<dt>Blueprints:</dt><dd>{{ content.field_blueprints|field_value|safe_join(', ') }}</dd>{% endif %}
    {% for attack in attacks -%}
      {% include '@veil/partials/attack.html.twig' with {'attack': attack} %}
    {%- endfor %}
  </dl>
{% endblock %}
