{#
/**
 * @file
 * Full-page display.
 *
 * Standard Drupal variables:
 * - node: The node entity with limited access to object properties and methods.
 * - label: The title of the node.
 * - content: All node items.
 * - metadata: Metadata for this node.
 * - url: Direct URL of the current node.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 *
 * For most types of gear:
 * - content.field_sources: Optional array of book + page links.
 * - content.field_cost: Cost level and (optional) minimum cost in credits.
 * - content.field_blueprints: Boolean indicating whether it can be fabbed.
 * - content.field_gear_type: Taxonomy term linking to the item's gear category.
 * - content.field_special_effect: Any oddball stuff it does beyond the normal stats.
 *   Probably ignore this in most cases.
 * - content.field_linked_skill: The skill needed to use/fire/pilot the gear.
 *
 * For anything with character bonuses:
 * - content.field_stats: Stat bonuses.
 * - content.field_skills: Skill bonuses.
 * - content.field_is_conditional: Whether said bonuses are always-on or conditional.
 *
 * For Sleights:
 * - content.field_sleight_level:
 * - content.field_psi_skill:
 * - content.field_sleight_duration:
 * - content.field_is_active:
 * - content.field_sleight_range:
 * - content.field_strain:
 *
 * For Drugs:
 * - content.field_addiction_modifier:
 * - content.field_delivery_mechanism:
 * - content.field_duration:
 * - content.field_onset:
 *
 * For Augmentations:
 * - content.field_morph_types: The morph types the augmentation can be installed on
 *
 * For Morphs
 * - content.field_cp_cost: Does what it says on the tin.
 * - content.field_stats: Inherent morph-stats, and bonuses for ego stats.
 * - content.field_stat_variance: Flexible bonuses that vary per morph instance.
 * - content.field_stat_cap: The morph's built-in ceiling on stats, including bonuses.
 * - content.field_traits: Any morph traits associated with the shell.
 * - content.field_augmentations: Any augmentations that come standard.
 * - content.field_skills: Built-in skill bonuses, like 'swimming' for dolphins.
 *
 * For Creatures:
 * - content.field_creature_type: Lookup table of critter types. Laaaame.
 * - content.field_strain: The stress players take if they miss a WILx3 check.
 *
 * Calculated variables:
 * - stats: A nested collection of character attributes.
 *   @see \Drupal\eldrich\Calculator\StatTreeCalculator
 * - skills: A nested collection of character skills.
 *   @see \Drupal\eldrich\Calculator\SkillTreeCalculator
 * - attacks:
 *   @see \Drupal\eldrich\Calculator\WeaponCalculator
 * - armor:
 *   @see \Drupal\eldrich\Calculator\ArmorCalculator
 * - threat:
 *   @see \Drupal\eldrich\Calculator\ThreatCalculator
 * - mobility:
 *   @see \Drupal\eldrich\Calculator\MobilityCalculator

 * @ingroup templates
 *
 * @see template_preprocess_node()
 */
#}

<article{{ attributes.addClass(classes) }}>

  {% block callout %}
    <aside class="info-callout col-sm-4 col-xs-12 pull-right">
      <div class="panel panel-default">
        <div class="panel-body">
        {% block callout_content %}
          {% if threat and threat.rating %}<p>Threat Level: {{ threat.label }}</p>{% endif %}
          {% if content.field_gear_type|field_value %}<p>Type: {{ content.field_gear_type|field_value }}</p>{% endif %}
          {% if content.field_cost|field_value %}<p>Cost: {{ content.field_cost|field_value }}</p>{% endif %}
        {% endblock %}
        </div>
        {% if content.field_sources|field_value %}
          <div class="panel-body">Source: {{ content.field_sources|field_value|safe_join(', ') }}</div>
        {% endif %}
      </div>
    </aside>
  {% endblock %}

  <div class="clearfix visible-xs-block"></div>

  {% block hero %}
    {% if content.field_quote|field_value %}<blockquote><p>{{ content.field_quote|field_value }}</p></blockquote>{% endif %}
  {% endblock %}

  <div class="clearfix visible-xs-block"></div>

  {% block content %}
    {% if content.field_usage %}{{ content.field_usage|field_value }}{% endif %}
    {% if content.field_description %}{{ content.field_description|field_value }}{% endif %}
    {% if content.field_roleplay_notes %}{{ content.field_roleplay_notes|field_value }}{% endif %}
  {% endblock %}

  {% block stats %}
    {% if stats.total %}{% include directory ~ '/templates/partials/stats.html.twig' %}{% endif %}
  {% endblock %}

  {% block properties %}
  <dl class="dl-horizontal">
    {% if content.field_morph_model|field_value %}<dt>Morph Model:</dt><dd>{{ content.field_morph_model|field_value }}</dd>{% if mobility|length %} ({{ mobility.build|safe_join(', ') }}){% endif %}{% endif %}
    {% if skills|length %}<dt>Skills:</dt><dd>{% include directory ~ '/templates/partials/skills.html.twig' %}</dd>{% endif %}
    {% if content.field_augmentations|field_value|length %}<dt>Augmentations:</dt><dd>{{ content.field_augmentations|field_value|safe_join(', ') }}</dd>{% endif %}

    {% if content.field_traits|field_value|length %}
      {% if content.field_morph_traits|field_value|length %}
        {% set traits = content.field_traits|field_value|merge(content.field_morph_traits|field_value) %}
      {% else %}
        {% set traits = content.field_traits|field_value %}
      {% endif %}
      <dt>Traits:</dt><dd>{{ traits|safe_join(', ') }}</dd></dd>
    {% endif %}

    {% if content.field_sleights|field_value|length %}<dt>Psi Sleights:</dt><dd>{{ content.field_sleights|field_value|safe_join(', ') }}</dd>{% endif %}
    {% if content.field_gear|field_value|length %}<dt>Gear:</dt><dd>{{ content.field_gear|field_value|safe_join(', ') }}</dd>{% endif %}
    {% if content.field_blueprints|length %}<dt>Blueprints:</dt><dd>{{ content.field_blueprints|field_value|safe_join(', ') }}</dd>{% endif %}
    {% if armor.energy or armor.kinetic %}
      <dt>Armor:</dt>
      <dd>{{ armor.energy ?: '—'}} / {{ armor.kinetic ?: '—'}}
        {% if armor.build %}({{ armor.build|safe_join(', ') }}){% endif %}
      </dd>
    {% endif %}
    {% for attack in attacks -%}
      {% include directory ~ '/templates/partials/' ~ 'attack.html.twig' with {'attack': attack} %}
    {%- endfor %}
  </dl>
  {% endblock %}

  {% block related %}
  {% endblock %}
</article>
