{#
/**
 * @file
 * Full-page display.
 *
 * Standard Drupal variables:
 * - node: The node entity with limited access to object properties and methods.
 * - label: The title of the node.
 * - content: All node items.
 * - metadata: Metadata for this node.
 * - url: Direct URL of the current node.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 *
 * For most types of gear:
 * - content.field_sources: Optional array of book + page links.
 * - content.field_cost: Cost level and (optional) minimum cost in credits.
 * - content.field_blueprints: Boolean indicating whether it can be fabbed.
 * - content.field_gear_type: Taxonomy term linking to the item's gear category.
 * - content.field_special_effect: Any oddball stuff it does beyond the normal stats.
 *   Probably ignore this in most cases.
 * - content.field_linked_skill: The skill needed to use/fire/pilot the gear.
 *
 * For anything with character bonuses:
 * - content.field_stats: Stat bonuses.
 * - content.field_skills: Skill bonuses.
 * - content.field_is_conditional: Whether said bonuses are always-on or conditional.
 *
 * Calculated variables:
 * - stats: A nested collection of character attributes.
 *   @see \Drupal\eldrich\Calculator\StatTreeCalculator
 * - skills: A nested collection of character skills.
 *   @see \Drupal\eldrich\Calculator\SkillTreeCalculator
 * - attacks:
 *   @see \Drupal\eldrich\Calculator\WeaponCalculator
 * - armor:
 *   @see \Drupal\eldrich\Calculator\ArmorCalculator
 * - threat:
 *   @see \Drupal\eldrich\Calculator\ThreatCalculator
 * - mobility:
 *   @see \Drupal\eldrich\Calculator\MobilityCalculator

 * @ingroup templates
 *
 * @see template_preprocess_node()
 */
#}
{%
set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="row">
    {% block callout %}
    <aside class="info-callout col-sm-4 col-xs-12 pull-right">
      <ul class="list-unstyled list-hanging">
      {% block callout_content %}
        {% if threat and threat.rating %}<li><strong>Threat Level:</strong> {{ threat.label }}</li>{% endif %}
        {% if content.field_gear_type|field_value %}<li><strong>Type:</strong> {{ content.field_gear_type|field_value }}</li>{% endif %}
        {% if content.field_cost|field_value %}<li><strong>Cost:</strong> {{ content.field_cost|field_value }}</li>{% endif %}
      {% endblock %}
      {% if content.field_sources|field_value %}
        <li><strong>Source:</strong> {{ content.field_sources|field_value|safe_join(', ') }}</li>
      {% endif %}
      </ul>
    </aside>
    <div class="visible-xs clearfix"></div>
    {% endblock %}

  <section class="col-sm-8">

    {% block content %}
      {{ content.field_description|field_value }}
      {{ content.field_usage|field_value }}
      {# We're going to hide these, at least for a bit.
      {{ content.field_appearance|field_value }}
      {{ content.field_roleplay_notes|field_value }}
      #}
    {% endblock %}

  {% block stats %}
    {% if stats.total %}
      {% include '@veil/partials/stats.html.twig' %}
    {% endif %}
  {% endblock %}

  {% block properties %}
      <ul class="list-unstyled list-hanging">
      {% if content.field_morph_model|field_value %}<li><strong>Morph:</strong> {{ content.field_morph_model|field_value }}{% if mobility|length %} ({{ mobility.build|safe_join(', ') }}){% endif %}</li>{% endif %}
      {% if skills|length %}<li><strong>Skills:</strong> {% include directory ~ '/templates/partials/skills.html.twig' %}</li>{% endif %}
      {% if content.field_augmentations|field_value|length %}<li><strong>Augmentations:</strong> {{ content.field_augmentations|field_value|safe_join(', ') }}</li>{% endif %}

      {% if content.field_traits|field_value|length %}
        {% if content.field_morph_traits|field_value|length %}
          {% set traits = content.field_traits|field_value|merge(content.field_morph_traits|field_value) %}
        {% else %}
          {% set traits = content.field_traits|field_value %}
        {% endif %}
        <li><strong>Traits:</strong> {{ traits|safe_join(', ') }}</li>
      {% endif %}

      {% if content.field_sleights|field_value|length %}<li><strong>Psi Sleights:</strong> {{ content.field_sleights|field_value|safe_join(', ') }}</li>{% endif %}
      {% if content.field_gear|field_value|length %}<li><strong>Gear:</strong> {{ content.field_gear|field_value|safe_join(', ') }}</li>{% endif %}
      {% if content.field_owned_blueprints|field_value|length %}<li><strong>Blueprints:</strong> {{ content.field_owned_blueprints|field_value|safe_join(', ') }}</li>{% endif %}

      {% if armor.build or armor.energy or armor.kinetic %}
        <li><strong>Armor:</strong>
          {% if armor.energy or armor.kinetic -%}
            {{ armor.energy ?: '—'}} / {{ armor.kinetic ?: '—'}}
          {%- endif %}
          {% if armor.build %}({{ armor.build|safe_join(', ') }}){% endif %}
        </li>
      {% endif %}
    </ul>

    {% if attacks|length %}{% include '@veil/partials/attacks.html.twig' %}{% endif %}
  {% endblock %}
  </section>

  {% block related %}
    {% if content.related_gear %}
      <div class="clearfix"></div>
      <section class="col-md-8">
        {{ content.related_gear }}
      </section>
    {% endif %}
  {% endblock %}
  </div>

  {% block comments %}
    {% if content.field_chat %}
    {{ content.field_chat }}
    {% endif %}
  {% endblock %}

</article>
