{#
/*
 * For Sleights:
 * - content.field_sleight_level:
 * - content.field_psi_skill:
 * - content.field_sleight_duration:
 * - content.field_is_active:
 * - content.field_sleight_range:
 * - content.field_strain:
 */
#}
{% extends "node--full.html.twig" %}
{% block callout_content %}
  {{ parent() }}
  <p>{{ content.field_is_active|field_value ? 'Active' : 'Passive' }} Psi-{{ content.field_sleight_level|field_value }} Sleight</p>
  {% if content.field_sleight_duration|field_value %}<p>Duration: {{ content.field_sleight_duration|field_value }}</p>{% endif %}
  {% if content.field_sleight_range|field_value %}<p>Range: {{ content.field_sleight_range|field_value }}</p>{% endif %}
  {% if content.field_psi_skill|field_value %}<p>Linked Skill: {{ content.field_psi_skill|field_value }}</p>{% endif %}
  {% if content.field_strain|field_value %}<p>Strain: DV {{ content.field_strain|field_value }}</p>{% endif %}
{% endblock %}
