{#
/**
 * @file
 * Full-page display.
 *
 * Standard Drupal variables:
 * - node: The node entity with limited access to object properties and methods.
 * - label: The title of the node.
 * - content: All node items.
 * - metadata: Metadata for this node.
 * - url: Direct URL of the current node.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 *
 * For campaigns:
 * - content.body:                     Body text
 * - content.field_image:              Hero image
 * - content.field_npcs:               List of Entity References
 * - content.field_official_downloads: List of file attachments
 * - content.field_pcs:                List of Entity References
 * - content.field_resources:          List of external links
 * - content.field_short_name:         Short name for URL aliasing
 * - content.field_campaign_status:    Campaign status, yay.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 */
#}
{%
set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class
]
%}

<article{{ attributes.addClass(classes) }}>
  <section class="row">
    {% block content %}
      <div class="col-sm-12">
        {{ content.field_image }}
      </div>
      <div class="col-sm-7">
        {{ content.body }}
      </div>
      <div class="col-sm-5">
        <ul class="list-unstyled list-hanging">
          {% if content.field_pcs|field_value|length -%}
            <li><strong>Players:</strong> {{ content.field_pcs|field_value|safe_join(', ') }}</li>
          {%- endif %}
          {% if content.field_resources|field_value|length -%}
            <li><strong>Resources:</strong> {{ content.field_resources|field_value|safe_join(', ') }}</li>
          {%- endif %}
          {% if content.field_official_downloads|field_value|length -%}
            <li><strong>Downloads:</strong> {{ content.field_official_downloads|field_value|safe_join(', ') }}</li>
          {%- endif %}
        </ul>
      </div>
    {% endblock %}
  </section>
  <section class="row">
    <div class="col-sm-12">
      {{ content|without('body', 'field_image', 'field_pcs', 'field_resources', 'field_official_downloads', 'field_campaign_status') }}
    </div>
  </section>
</article>
