<div class="panel panel-default">
  {% set properties = ['cog', 'coo', 'int', 'ref', 'sav', 'som', 'wil'] %}
  <table class="table table-eldrich table-condensed table-bordered table-statblock">
    <thead>
      <tr>
      {% for property in properties %}
        <th>{{ property|upper }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for property in properties %}
          {% set constant = attribute(stats.mind.constant, property) %}
          {% set conditional = attribute(stats.mind.conditional, property) %}

          <td>
            {{ constant ?: '—' }}
            {% if (conditional and (conditional != constant)) %}
              ({{ conditional }})
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      <tr>
        {% for property in properties %}
        {% set constant = attribute(stats.shell.constant, property) %}
        {% set conditional = attribute(stats.shell.conditional, property) %}
          <td>
            {{ constant ?: '—' }}
            {% if (conditional and (conditional != constant)) %}
                ({{ conditional }})
            {% endif %}
          </td>
      {% endfor %}
      </tr>
      <tr class="summary-row">
        {% for property in properties %}
        {% set constant = attribute(stats.total.constant, property) %}
        {% set conditional = attribute(stats.total.conditional, property) %}

          <td>
            {{ constant ?: '—' }}
            {% if (conditional and (conditional != constant)) %}
                ({{ conditional }})
            {% endif %}
          </td>
      {% endfor %}
      </tr>
    </tbody>
  </table>

  {% set properties = ['mox', 'init', 'spd', 'tt', 'luc', 'ir', 'wt', 'dur', 'dr'] %}
  <table class="table table-eldrich table-condensed table-bordered table-statblock">
    <thead>
      <tr>
      {% for property in properties %}
        <th>{{ property|upper }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr class="summary-row">
        {% for property in properties %}
          {% set constant = attribute(stats.total.constant, property) %}
          {% set conditional = attribute(stats.total.conditional, property) %}

          <td>
            {{ constant ?: '—' }}
            {% if (conditional and (conditional != constant)) %}
              ({{ conditional }})
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
