{#
/*
 * For NPCs and Characters:
 * - content.field_background,
 * - content.field_faction,
 * - content.field_appearance,
 * - content.field_rep,
 * - content.field_credits,
 */
#}
{% extends "@veil/node/node--full.html.twig" %}
{% block callout_content %}
  {{ parent() }}
  {% if content.field_background|field_value %}<p>Background: {{ content.field_background|field_value }}</p>{% endif %}
  {% if content.field_faction|field_value %}<p>Faction: {{ content.field_faction|field_value|safe_join(', ') }}</p>{% endif %}
  {% if content.field_rep|field_value|length %}<p>Rep: {{ content.field_rep|field_value|safe_join(', ') }}</p>{% endif %}
  {% if content.field_credits|field_value %}<p>Credits: {{ content.field_credits|field_value }}</p>{% endif %}
{% endblock %}
