{#
/*
 * For NPCs and Characters:
 * - content.field_background,
 * - content.field_faction,
 * - content.field_appearance,
 * - content.field_rep,
 * - content.field_credits,
 */
#}
{% extends "@veil/node/node--full.html.twig" %}

{% block callout_content %}
  {% if content.field_image|field_value %}
    <img src="{{ content.field_image|field_target_entity.uri.value | image_style('portrait') }}" alt="title" class="img-responsive img-thumbnail" />
  {% endif %}

  {{ parent() }}

  {% if content.field_background|field_value %}<li><strong>Background:</strong> {{ content.field_background|field_value }}</li>{% endif %}
  {% if content.field_faction|field_value %}<li><strong>Faction:</strong> {{ content.field_faction|field_value|safe_join(', ') }}</li>{% endif %}
  {% if content.field_rep|field_value|length %}<li><strong>Rep:</strong> {{ content.field_rep|field_value|safe_join(', ') }}</li>{% endif %}
  {% if content.field_credits|field_value %}<li><strong>Credits:</strong> {{ content.field_credits|field_value }}</li>{% endif %}
{% endblock %}

{% block callout %}
  <aside class="info-callout col-sm-4 col-xs-12 pull-right">
    <ul class="list-unstyled list-hanging">
      {{ block('callout_content') }}
      {% if content.field_sources|field_value %}
        <li><strong>Source:</strong> {{ content.field_sources|field_value|safe_join(', ') }}</li>
      {% endif %}
    </ul>
  </aside>
  <div class="clearfix visible-xs-block"></div>
{% endblock %}

{% block content %}
  {% if content.field_quote|field_value %}
    <blockquote><p>“{{ content.field_quote|field_value }}”</p></blockquote>
  {% endif %}
  {{ parent() }}
{% endblock %}
