{#
/*
 * For Factions:
 * - content.field_faction_type: Lookup table of faction types. Laaaame.
 * - content.field_parent_faction: Pretty straightforward.
 * - content.field_memes: A list of businesses or concerns associated with the faction.
 * - content.field_faction_locations: Primary locations they're active.
 */
#}
{% extends "@veil/node/node--full.html.twig" %}
{% block callout_content %}
  {{ parent() }}
  <li><strong>Type:</strong> {{ content.field_location_type|field_value -}}{% if content.field_parent_location|field_value %}, {{ content.field_parent_location|field_value }}{% endif %}</li>
  {% if content.field_distance|field_value %}<li><strong>Distance from Earth:</strong> {{ content.field_distance|field_value }}</li>{% endif %}
  {% if content.field_population|field_value %}<li><strong>Population:</strong> {{ content.field_population|field_value }}</li>{% endif %}
  {% if content.field_languages|field_value|length == 1 %}<li><strong>Primary Language:</strong> {{ content.field_languages|field_value }}</li>
  {% elseif content.field_languages|field_value|length > 1 %}<li><strong>Primary Languages:</strong> {{ content.field_languages|field_value|safe_join(', ') }}</li>{% endif %}
{% endblock %}
