{#
/*
 * For Sleights:
 * - content.field_sleight_level:
 * - content.field_psi_skill:
 * - content.field_sleight_duration:
 * - content.field_is_active:
 * - content.field_sleight_range:
 * - content.field_strain:
 */
#}
{% extends "@veil/node/node--full.html.twig" %}
{% block callout_content %}
  {{ parent() }}
  <li><strong>{{ content.field_is_active.value ? 'Active' : 'Passive' }} Psi-{{ content.field_sleight_level|field_value }} Sleight</strong></li>
  {% if content.field_sleight_duration|field_value %}<li><strong>Duration:</strong> {{ content.field_sleight_duration|field_value }}</li>{% endif %}
  {% if content.field_sleight_range|field_value %}<li><strong>Range:</strong> {{ content.field_sleight_range|field_value }}</li>{% endif %}
  {% if content.field_psi_skill|field_value %}<li><strong>Linked Skill:</strong> {{ content.field_psi_skill|field_value }}</li>{% endif %}
  {% if content.field_strain|field_value %}<li><strong>Strain:</strong> DV {{ content.field_strain|field_value }}</li>{% endif %}
{% endblock %}
