{#
/*
 * For Factions:
 * - content.field_vectors: Lookup table of faction types. Laaaame.
 * - content.field_parent_faction: Pretty straightforward.
 * - content.field_memes: A list of businesses or concerns associated with the faction.
 * - content.field_faction_locations: Primary locations they're active.
 */
#}
{% extends "@veil/node/node--full.html.twig" %}
{% block callout_content %}
  {{ parent() }}
  {% if content.field_vectors|field_value|length %}<li><strong>Vectors:</strong> {{ content.field_vectors|field_value|save_join(', ') }}</li>{% endif %}
  {% if content.field_infectiousness|field_value %}<li> {{ content.field_infectiousness|field_value }}</li>{% endif %}
{% endblock %}

{% block content %}
  {{ content.field_description|field_value }}
  {{ content.field_stages|field_value }}
{% endblock %}
