{#
/**
 * @file
 * Output template for an equipped weapon entity.
 *
 * Available variables:
 * - entity: The equipped weapon record in its entirety
 * - skill_bonus: Optional numerical boost for attack rolls
 * - category: melee, ranged, etc.
 * - damage
 *   - dice: The number of dice to roll
 *   - mod: A damage modifier specific to the attack (+10, etc)
 *   - mod_operation: Always + or /, because we're not insane
 *   - ap: Armor Piercing power
 *   - average: Average damage output
 * - rounds: Numerical magazine size, if appropriate
 * - effects: An array of strings describing special weapon effects
 *
 */
#}
<dt {{ attributes }}><span class="label label-danger text-uppercase">{{ category }}</span></dt>
<dd>
  {{ build.weapon }}
  {% if skill_bonus %}(+{{ skill_bonus }}){% endif %}
  {% if build.ammo %} w/
  {{ build.ammo_mods|safe_join(' ') }} {{ build.ammo }}
  {% endif %}

  <kbd class="damage-roll" data-average="{{ damage.average }}">
    {% if damage.dice or damage.effects %}
      {% if damage.dice %}
        (DV {{ damage.dice }}d10{% if damage.mod %} {{ damage.mod_operation }} {{ damage.mod }}{% endif %}{% if damage.ap %} {{ damage.ap }}AP{% endif %})
      {% endif %}
      {% if damage.effects %}+ {{ damage.effects|safe_join(' + ') }}{% endif %}
    {% else %}
      No damage
    {% endif %}
  </kbd>
</dd>
{% if effects %}<dd>{{ effects|safe_join(' ') }}</dd>{% endif %}
