{#
Available variables:
- type: ranged, melee, or other
- title: the name that should be shown for the weapon instance
- bonus: the cumulative skill bonus for this weapon instance
- damage: the damage value
#}
<dt {{ attributes }}><span class="label label-danger text-uppercase">{{ type }}</span></dt>
<dd>
  {{ entity.field_weapon|field_value }}
  {% if entity.field_weapon_mods %} ({{ entity.field_weapon_mods|field_value|safe_join(', ')}}){% endif %}
  {% if entity.field_ammo_mods or entity.field_ammo %} w/ {% endif %}
  {% if entity.field_ammo_mods %} {{ entity.field_ammo_mods|field_value|safe_join(' ') }}{% endif %}
  {% if entity.field_ammo %}{{ entity.field_ammo|field_value }}{% else %}ammo{% endif %}: <kbd>{{ damage }}</kbd></dd>
